exportPattern("..*")

importClassesFrom("Biobase", "ExpressionSet")
importClassesFrom("GenomicRanges", "GRanges", "SummarizedExperiment")
importClassesFrom("GenomicFiles", "GenomicFiles")

importMethodsFrom("Biobase", "phenoData")

exportMethods("phenoData")

export("exs2se")
