name: BiocDev R CMD check

on:
  push:
    branches-ignore:
      - master
      - RELEASE_3_14
  pull_request:
    branches:
      - master

jobs:
  checkDevel:
    runs-on: ubuntu-20.04
    container: bioconductor/bioconductor_docker:devel

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Query dependencies
        run: |
          install.packages('remotes')
          devtools::install_github("Bioconductor/AnVIL")
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
        shell: Rscript {0}

      - name: Cache R packages
        if: runner.os != 'Windows'
        uses: actions/cache@v1
        with:
          path: /usr/local/lib/R/site-library
          key: ${{ runner.os }}-r-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-r-1-

      - name: Install Package Dependencies
        run: |
          options(repos = c(CRAN = "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"))
          remotes::install_deps(dependencies = TRUE, repos = AnVIL::repositories())
          BiocManager::install("rcmdcheck", ask = FALSE, update = TRUE)
        shell: Rscript {0}

      - name: Check Package
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false
        run: rcmdcheck::rcmdcheck(args = c("--no-manual"), error_on = "error", check_dir = "check")
        shell: Rscript {0}
